VERSION="v1"
PORT="3000"
AUTH_SECRET=""
API_URL=""
ADMIN_URL=""

CLIENT_FACEBOOK_ID=""
CLIENT_FACEBOOK_SECRET=""

CLIENT_GOOGLE_ID=""
CLIENT_GOOGLE_SECRET=""

DB_HOST=""

MAIL_HOST=""
MAIL_PORT=""
MAIL_SECURE=""
MAIL_AUTH_USER=""
MAIL_AUTH_PASS=""

PAGARME_API_KEY=""
PAGARME_POSTBACK=""

FRONTEND_ECOMMERCE_NAME=""
UPDATE_DOMAIN_LIST_URL=""
DIGITAL_OCEAN_TOKEN=""
DIGITAL_OCEAN_ENDPOINT=""
DIGITAL_OCEAN_IAM_USER_KEY=""
DIGITAL_OCEAN_IAM_USER_SECRET=""
DIGITAL_OCEAN_BUCKET_NAME=""
